main {
  margin-top: 1.5rem;
  font-family: "BMW Helvetica";
  color: #6a6a6a;
}

.grid-card h2 {
  text-align: center;
  margin-top: 0;
}

.grid-card p {
  margin: 0.5rem 0;
}

.grid-card a {
  font-weight: bold;
  color: #0166b1;
  text-decoration: none;
}

.grid-card a:hover {
  text-decoration: underline;
}

.hero p::first-letter {
  color: #0166b1;
  font-weight: bold;
  font-size: 150%;
}

.about-rear-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1rem auto 0 auto;
  border-radius: 4px;
}



