nav {
  background-color: #0166b1;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

nav li {
  display: flex;
  align-items: center;
}

nav .logo img {
  width: 125px;
  padding: 6px 32px 6px 16px;
}

nav li a,
nav li#here {
  display: block;
  color: #ffffff;
  font-family: "BMW Helvetica";
  font-weight: bold;
  padding: 14px 24px;
  text-decoration: none;
  text-align: center;
}

#here {
  border-bottom: 3px solid #ffffff;
  color: #ffffff;
  font-weight: bold;
}

nav li a:hover {
  background-color: #ffffff;
  color: #0166b1;
}

@media (max-width: 589px) {
  nav ul {
    flex-direction: column;
    align-items: stretch;
  }

  nav li {
    justify-content: center;
  }

  nav .logo img {
    margin: 0 auto;
    padding: 8px 0;
  }

  nav li a,
  nav li#here {
    width: 100%;
  }
}


