main {
  margin-top: 1.5rem;
  font-family: "BMW Helvetica";
  color: #6a6a6a;
}

article {
  margin-top: 1.5rem;
}

h2 {
  text-align: center;
}

hr {
  height: 4px;
  border: none;
  background-color: #0166b1;
  margin-bottom: 1.25rem;
}

.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.photos img {
  width: 300px;
  height: 260px;
  object-fit: cover;
}

article p {
  padding: 0 0.5rem 0.5rem 0.5rem;
}

article p:first-of-type::first-letter {
  color: #0166b1;
  font-weight: bold;
  font-size: 150%;
}

